body{
    font-family: sans-serif;
    margin: 0;
}
header{
    display: flex;
    min-height: 20px;
    background-color:whitesmoke;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.nombre-de-la-empresa{
    color: rgb(208, 9, 165) ;
    font-size: 30px;
    margin-left: 70px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 10px;
    margin: 5px;
    margin-right: 20px;
}
nav a:hover{
    color: rgb(208, 9, 165);
}
@media (max-width:800px){
    header{
        flex-direction: column;
    }
}

.imagen1{
    width: 100vw;
    height:80vh;
    position: relative;
   filter: brightness(0.6);
   
}
.boton{
    padding: 0.5rem 1rem;
    position: absolute;
    top: 75%;
    left: 45%;
    border: 1px transparent;
    color: white;
    font-weight: bold;
    background: rgb(208, 9, 165) ;
    text-decoration: none;
}
.caja1{
    position: relative;
}
#titulo{
    font-size: 70px;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    display: flex;
    text-align: center;
}
strong{
    color:rgb(208, 9, 165) ;
}
.seccion2{
    position: absolute;
    display: flex;
    flex-direction: row;
}
.imagen2{
    position: relative;
    width: 30vw;
    height: 40vh;
    left: 200px;
    top: 100px;
    bottom: 200px;
}

.caja2{
    position: relative;
}
.caja3{
    position: relative;
    left: 300px;
    top: 150px;
}
.seccion3{
    background-color: rgb(55, 54, 54);
    position: relative;
    top: 420px;
}
 #titulo2{
    justify-content: center;
    text-align: center;
    color:white;
    font-size: 60px;
   padding: 70px;
   
}

.programas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu1{
   background-color: rgb(86, 96, 108);
    position: relative;
    margin: 40px;
    bottom: 60px;
    width: 250px;
    height: 350px;
    left:90px;
    border-radius: 00.5rem;
}
.imagen3 {
    position: relative;
    border-start-end-radius:  00.5rem;
    border-top-left-radius: 00.5rem ;
    filter: brightness(0.6);
}
#menuA{
    position: absolute;
    left: 80px;
    color: white;
    text-align: center;
    top: 10px;
}
#parrafo1{
    
    text-align: center;
    color: white;
}
.menu2{
    background-color: rgb(86, 96, 108);
    position: relative;
    margin: 40px;
    bottom: 60px;
    width: 250px;
    height: 350px;
    left: 3px;
    border-radius: 00.5rem;
}
.imagen4{
    position: relative;
    border-start-end-radius:  00.5rem;
    border-top-left-radius: 00.5rem ;
    filter: brightness(0.6);
}
#menuB{
    position: absolute;
    left: 80px;
    color: white;
    text-align: center;
    top: 10px;
}
#parrafo2{
    text-align: center;
    color: white;
}
.menu3{
    
    background-color:rgb(86, 96, 108);
    position: relative;
    margin: 40px;
    bottom: 60px;
    width: 250px;
    height: 350px;
    right: 90px;
    border-radius: 00.5rem;
}
.imagen5{
    position: relative;
    border-start-end-radius:  00.5rem;
    border-top-left-radius: 00.5rem ;
    
}
#menuC{
    position: absolute;
    right: 68px;
    color: white;
    text-align: center;
    top: 10px;
}
#parrafo3{
    text-align: center;
    color: white;
}

#boton1{
    bottom:20px;
    position: absolute;
    left: 98px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: transparent;
    text-align: center;
    background-color: rgb(208, 9, 165);
    box-shadow: rgb(45, 44, 45) 0px 2px 2px 0px ;
}
#boton3{
    bottom: 20px;
    position: absolute;
    left: 98px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: transparent;
    text-align: center;
    background-color: rgb(208, 9, 165);
    box-shadow: rgb(45, 44, 45) 0px 2px 2px 0px ;
}
#boton2{
    position: absolute;
    left: 90px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: transparent;
    text-align: center;
    background-color: rgb(208, 9, 165);
    box-shadow: rgb(45, 44, 45) 0px 2px 2px 0px ;
}
.seccion4{
   
    position: relative;
    top: 550px;
}
.contenedor2{
    
    display: flex;
    flex-direction: row;
}
#imagen1-seccion4{
    position: absolute;
    right: 140px;
}
.contenedor2 ol li{
    position: relative;
    left: 200px ;
    margin: 7px;
    font-weight: bold;
    top: 90px ;
}
li{
    list-style-position: inside;
    list-style-image: url(imagenes/correct.png);
}
.seccion5{
    background: rgb(208, 9, 165);
    position: relative;
    top: 800px;
   width: 100% ;
   height: 500px;
}
.contenedor5{
    position: relative;
    
}
#texto1 {
    position: absolute;
    top: 100px;
    left: 250px;
    text-align: center;
    font-size: 70px;
    color: white;
    
}
#boton5{
    padding: 0.5rem 1rem;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 2px rgb(170, 8, 135) solid;
   text-decoration: none;
   position: relative;
   left: 550px;
   top: 300px;
   box-shadow: rgb(45, 44, 45) 0px 2px 2px 0px ;
}
footer{
    position:relative;
    top: 800px;
    margin: 50px;
    
}
#final{
    position: relative;
    text-align: center;
    font-size: 20px;

}